@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;

}
.InstructorShadow{
    box-shadow: inset 0px -3px 0px rgba(255, 255, 255, 0.18);

}
.hilightGradient {  
    background-image: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
.videoShadow{
    filter: drop-shadow(20px 20px 0px #F5F5F5);
   
}
.bgImage{
    background: url("./assets/Images/bghome.svg");
}
.dottedLine{
    width: 4px;
    height: 40px;
    border-left: 2px dashed #AFB2BF;
}
.becomeInstructor{
    box-shadow: -15px -15px white;
}
.cardShadow{
    box-shadow: 12px 12px 0px #FFD60A;;
}
.gradient{
    background: linear-gradient(111.93deg, rgba(14, 26, 45, 0.24) -1.4%, rgba(17, 30, 50, 0.38) 104.96%);
    backdrop-filter: blur(26px);
}

.gradient1{
    position: absolute;
    width: 300.95px;
    height: 200.05px;
    right : 4rem;
    top: 0.5rem;

    /* Gradient/02 */

    background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);

}
.gradient2{
    position: absolute;
    width: 280.95px;
    height: 180.05px;
    left: 1rem;
    top: 1rem;

    /* Gradient/05 */

    background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
}
.photogradient{
    position: absolute;
    width: 720.26px;
    height: 400.64px;
    right: 1.5rem;
    top: 3.8rem;
    background: linear-gradient(117.82deg, #9CECFB -9.12%, #65C7F7 48.59%, #0052D4 106.3%);
    opacity: 0.6;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 1;
}

.shadowBox{
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.18);
}

.orangGradient{
    /* background: 
    background-color: #f3ec78; */
    background-image: linear-gradient(117.83deg, #FF512F -4.8%, #F09819 107.46%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.yellowGradient{
    
    background-image: linear-gradient(118.41deg, #E65C00 -6.05%, #F9D423 106.11%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}

.pinkGradient{
    background-image: linear-gradient(117.95deg, #833AB4 -2.4%, #FD1D1D 52.25%, #FCB045 106.89%);

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}

.stepsBorder{
    border: 1px dashed #424854;
}

.summeryCourse::marker {
    content: none;
}

.loading {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


